name: main_backend_ci_cd_pipeline

on:
  push:
    branches:
      - "main"
    paths:
      - "backend/**"
  workflow_dispatch:
jobs:
  build-database:
    runs-on: self-hosted

    steps:
      - name: Docker network creation
        run: echo ${{secrets.SHH_USER_PASSWORD}} | sudo -S docker network create ${{secrets.DOCKER_NETWORK_NAME_MAIN}} || true
      - name: Stop current running container
        run: echo ${{secrets.SHH_USER_PASSWORD}} | sudo -S docker stop ${{secrets.MYSQL_DATABASE_MAIN}} || true
      - name: Run Docker Container
        run: |
          echo ${{secrets.SHH_USER_PASSWORD}} | sudo -S docker run --rm -d \
            --name ${{secrets.MYSQL_DATABASE_MAIN}} \
            -v data-main-kanban:/var/lib/mysql \
            -e MYSQL_DATABASE=${{secrets.MYSQL_DATABASE_MAIN}} \
            -e MYSQL_USER=${{secrets.MYSQL_USER_MAIN}} \
            -e MYSQL_PASSWORD=${{secrets.MYSQL_PASSWORD_MAIN}} \
            -e MYSQL_ROOT_PASSWORD=${{secrets.MYSQL_ROOT_PASSWORD_MAIN}} \
            --network ${{secrets.DOCKER_NETWORK_NAME_MAIN}} \
            mysql:8.3.0

  build-backend-image-and-push:
    runs-on: ubuntu-latest
    needs: build-database
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.ref }}
      - name: Login Dockerhub
        env:
          DOCKER_HUB_USERNAME: ${{secrets.DOCKER_HUB_USERNAME}}
          DOCKER_HUB_PASSWORD: ${{secrets.DOCKER_HUB_PASSWORD}}
        run: docker login -u $DOCKER_HUB_USERNAME -p $DOCKER_HUB_PASSWORD

      - name: Build docker image
        run: docker build -t ${{secrets.DOCKER_HUB_USERNAME}}/${{secrets.DOCKER_HUB_APP_IMAGE}}:backend-main ./backend

      - name: Push docker image to Dockerhub
        run: docker push ${{secrets.DOCKER_HUB_USERNAME}}/${{secrets.DOCKER_HUB_APP_IMAGE}}:backend-main

  pull-backend-image-and-run-container:
    runs-on: self-hosted
    needs: build-backend-image-and-push
    steps:
      - name: Docker network creation
        run: echo ${{secrets.SHH_USER_PASSWORD}} | sudo -S docker network create ${{secrets.DOCKER_NETWORK_NAME_MAIN}} || true
      - name: Pull Docker image
        run: echo ${{secrets.SHH_USER_PASSWORD}} | sudo -S docker pull ${{secrets.DOCKER_HUB_USERNAME}}/${{secrets.DOCKER_HUB_APP_IMAGE}}:backend-main
      - name: Stop current running container
        run: echo ${{secrets.SHH_USER_PASSWORD}} | sudo -S docker stop kanban-backend-main || true
      - name: Remove current running container
        run: echo ${{secrets.SHH_USER_PASSWORD}} | sudo -S docker rm kanban-backend-main || true
      - name: Run Docker Container
        run: |
          echo ${{secrets.SHH_USER_PASSWORD}} | sudo -S docker run --restart -d \
            -p ${{secrets.BACKEND_HOST_PORT_MAIN}}:${{secrets.BACKEND_CONTAINER_PORT_MAIN}} \
            -e BACKEND_CONTAINER_PORT=${{secrets.BACKEND_CONTAINER_PORT_MAIN}} \
            -e BACKEND_HOST_DOMAIN=${{secrets.BACKEND_HOST_DOMAIN_MAIN}} \
            -e DB_HOST=${{secrets.MYSQL_DATABASE_MAIN}} \
            -e DB_PORT=${{secrets.MYSQL_CONTAINER_PORT_MAIN}} \
            -e DB_NAME=${{secrets.MYSQL_DATABASE_MAIN}} \
            -e DB_USER=${{secrets.MYSQL_USER_MAIN}} \
            -e DB_PASSWORD=${{secrets.MYSQL_PASSWORD_MAIN}} \
            -e FRONTEND_HOST_DOMAIN=${{secrets.FRONTEND_HOST_DOMAIN_MAIN}} \
            -e JWT_KEY=${{secrets.JWT_KEY_MAIN}} \
            -e JWT_EXPIRATION_TIME=${{secrets.JWT_EXPIRATION_TIME_MAIN}} \
            -e SENDGRID_API_KEY=${{secrets.SENDGRID_API_KEY_MAIN}} \
            -e SENDGRID_VERIFIED_EMAIL=${{secrets.SENDGRID_VERIFIED_EMAIL_MAIN}} \
            -e EMAIL_FROM_ADMINISTRATOR=${{secrets.EMAIL_FROM_ADMINISTRATOR_MAIN}} \
            -e USER_DEMO=${{secrets.USER_DEMO_MAIN}} \
            -e PASSWORD_DEMO=${{secrets.PASSWORD_DEMO_MAIN}} \
            --name kanban-backend-main \
            --network ${{secrets.DOCKER_NETWORK_NAME_MAIN}} \
            ${{secrets.DOCKER_HUB_USERNAME}}/${{secrets.DOCKER_HUB_APP_IMAGE}}:backend-main
